{% liquid 
  for filter in collection.filters
    if filter.type == "price_range"
      if filter.min_value.value > 0 or filter.max_value.value < filter.range_max
        assign active_filter_values = 1 | plus: active_filter_values
      endif
    else
      assign active_filter_values = filter.active_values.size | plus: active_filter_values
    endif
  endfor
%}

<div class="container collection-utilities mt-2 mb-4">
    <div class="d-flex align-items-center mx-n2">
<label class="collection-filters__label caption-large mb-0 mr-5" for="SortByClone">Sort:</label>
<select name="sort_by_clone" class="collection-filters__sort select__select caption-large p-0 pr-10 pr-lg-25 mb-0 border-0 cursor-pointer" id="SortByClone">
          {% for option in collection.sort_options %}
            <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
          {% endfor %}
</select>
    </div>
  
    <p class="collection-product-count small mb-0">
      Showing {{ 'collection.count_products' | t: count: collection.products_count }}
    </p>
</div>