<div class="container">
  <div class="mega-content px-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 py-4">
          <h5>Columns {{ mmsettings.num_mega_columns }} </h5>

{% for link in linklists['shop-by-pride-flag'].links -%}
  {{ link.title | link_to: link.url }}
{%- endfor %}
        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-12 col-md-3 py-4">

        </div>
      </div>
    </div>
  </div>
</div>