<div class="container">
  <div class="mega-content px-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 py-4">
          <h5>{{ mmsettings }} </h5>
{% assign mymenu = mmsettings.for_item | handle %}
          {{ mymenu }}

  {% for link in linklists[section.settings.main_menu].links %}
    {% if link.handle = mymenu %}
{{ link.handle }}
    {% endif %}
  {% endfor %}
          
{% for link in linklists[mymenu].links -%}
  {{ link.title | link_to: link.url }}
{%- endfor %}
          
        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-12 col-md-3 py-4">

        </div>
      </div>
    </div>
  </div>
</div>