<div class="container">
  <div class="mega-content px-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 py-4">
          <h5>{{ mmsettings }} </h5>
<!-- Footer menu -->
{% for link in linklists['shop-by-pride-flag'].links -%}
  {{ link.title | link_to: link.url }}
{%- endfor %}
          
          {% for child_link in linklist['shop-by-pride-flag'].links %}
            <li>
              {% if child_link.title == '-' %}
                <hr class="dropdown-divider">
              {% else %}
                <a 
                  class="dropdown-item {% if child_link.active %}active{% endif %}" 
                  href="{{ child_link.url }}"
                  aria-current="{% if child_link.active %}page{% endif %}">
                  {{ child_link.title }}
                </a>
              {% endif %}
            </li>
          {% endfor %} 
        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-12 col-md-3 py-4">

        </div>
      </div>
    </div>
  </div>
</div>