<div class="container">
  <div class="mega-content px-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 py-4">
          <h5>Columns {{ megamenu_settings.num_columns }} </h5>
        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-4 col-md-3 py-4">

        </div>
        <div class="col-12 col-sm-12 col-md-3 py-4">

        </div>
      </div>
    </div>
  </div>
</div>