  <nav class="navbar sticky-top navbar-expand-lg ws-nav-background" aria-label="Eighth navbar example">
    <div class="container">
      <div class="row">
      <a 
        class="navbar-logo navbar-brand" 
        href="{{ routes.root_url }}">
          <img
            class="img-fluid navbar-logo-default"
            src="{{ settings.logo | image_url: height: 160 }}" 
            alt="{{ shop.name }}"
            width="{{ 80 | times: settings.logo.aspect_ratio | round }}" 
            height="80"
            loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="mainnav">
{% render 'navbar-desktop-menu' %}
      </div>
    </div>
  </nav>

{% schema %}
{
  "name": "Navbar",

      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_height",
          "label": "Logo height",
          "min": 20,
          "max": 100,
          "step": 2,
          "default": 100
        },
        {
          "type": "link_list",
          "id": "main_menu",
          "label": "Main menu",
          "default": "main-menu"
        }
      ]
}
{% endschema %}