    <header class="py-0 mb-0 border-bottom ws-nav-background">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="{{ routes.root_url }}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
				<img
				class="img-fluid navbar-logo-default"
				src="{{ settings.logo | image_url: height: 160 }}" 
				alt="{{ shop.name }}"
				width="{{ 80 | times: settings.logo.aspect_ratio | round }}" 
				height="80" loading="lazy">
      </a>
    </div>
  </header>
  <nav class="py-0 mb-1 navbar bg-gradient bg-dark text-light">
    <div class="container d-flex flex-wrap">
{% render 'navbar-desktop-menu' %}
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </nav>

{% schema %}
{
  "name": "Navbar",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_height",
          "label": "Logo height",
          "min": 20,
          "max": 100,
          "step": 2,
          "default": 100
        },
        {
          "type": "link_list",
          "id": "main_menu",
          "label": "Main menu",
          "default": "main-menu"
        }
      ],
      "blocks": [
        {
            "type": "megamenu",
            "name": "t:sections.header.blocks.megamenu.name",
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.header.blocks.megamenu.settings.header__1.content"
                },
                {
                    "type": "text",
                    "id": "for_item",
                    "label": "t:sections.header.blocks.megamenu.settings.for_item.label"
                },
                {
                    "type": "range",
                    "id": "grid",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "unit": "/12",
                    "label": "t:sections.header.blocks.megamenu.settings.grid.label",
                    "default": 2
                },
                {
                    "type": "checkbox",
                    "id": "second_level_column",
                    "label": "t:sections.header.blocks.megamenu.settings.second_level_column.label",
                    "default": false
                },
                {
                    "type": "range",
                    "id": "second_level_column_size",
                    "min": 1,
                    "max": 50,
                    "step": 1,
                    "label": "t:sections.header.blocks.megamenu.settings.second_level_column_size.label",
                    "default": 20
                },
                {
                    "type": "checkbox",
                    "id": "wrap",
                    "label": "t:sections.header.blocks.megamenu.settings.wrap.label",
                    "default": false
                },
                {
                    "type": "range",
                    "id": "wrapper_grid",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "unit": "/12",
                    "label": "t:sections.header.blocks.megamenu.settings.wrapper_grid.label",
                    "default": 12
                },
                {
                    "type": "header",
                    "content": "t:sections.header.blocks.megamenu.settings.header__2.content"
                },
                {
                    "type": "select",
                    "id": "column_left_type",
                    "label": "t:sections.header.blocks.megamenu.settings.column_left_type.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__1.label"
                        },
                        {
                            "value": "1",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__2.label"
                        },
                        {
                            "value": "1*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__3.label"
                        },
                        {
                            "value": "2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__4.label"
                        },
                        {
                            "value": "2*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__5.label"
                        },
                        {
                            "value": "3",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__6.label"
                        },
                        {
                            "value": "3*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__7.label"
                        },
                        {
                            "value": "4",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__8.label"
                        },
                        {
                            "value": "4*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__9.label"
                        },
                        {
                            "value": "8-4",
                            "label": "t:sections.header.blocks.megamenu.settings.column_left_type.option__10.label"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "column_left_size",
                    "min": 0,
                    "max": 12,
                    "step": 1,
                    "unit": "/12",
                    "label": "t:sections.header.blocks.megamenu.settings.column_left_size.label",
                    "info": "t:sections.header.blocks.megamenu.settings.column_left_size.info",
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:sections.header.blocks.megamenu.settings.header__3.content"
                },
                {
                    "type": "select",
                    "id": "column_right_type",
                    "label": "t:sections.header.blocks.megamenu.settings.column_right_type.label",
                    "default": "none",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__1.label"
                        },
                        {
                            "value": "1",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__2.label"
                        },
                        {
                            "value": "1*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__3.label"
                        },
                        {
                            "value": "2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__4.label"
                        },
                        {
                            "value": "2*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__5.label"
                        },
                        {
                            "value": "3",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__6.label"
                        },
                        {
                            "value": "3*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__7.label"
                        },
                        {
                            "value": "4",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__8.label"
                        },
                        {
                            "value": "4*2",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__9.label"
                        },
                        {
                            "value": "8/12-4/12",
                            "label": "t:sections.header.blocks.megamenu.settings.column_right_type.option__10.label"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "column_right_size",
                    "min": 0,
                    "max": 12,
                    "step": 1,
                    "unit": "/12",
                    "label": "t:sections.header.blocks.megamenu.settings.column_right_size.label",
                    "info": "t:sections.header.blocks.megamenu.settings.column_right_size.info",
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:sections.header.blocks.megamenu.settings.header__4.content"
                },
                {
                    "type": "checkbox",
                    "id": "enable_width_limit",
                    "label": "t:sections.header.blocks.megamenu.settings.enable_width_limit.label",
                    "info": "t:sections.header.blocks.megamenu.settings.enable_width_limit.info",
                    "default": false
                },
                {
                    "type": "range",
                    "id": "width_limit",
                    "min": 300,
                    "max": 1000,
                    "step": 10,
                    "unit": "px",
                    "label": "t:sections.header.blocks.megamenu.settings.width_limit.label",
                    "default": 630
                }
            ]
        }
      ]
}
{% endschema %}