    <header class="py-0 mb-0 border-bottom ws-nav-background">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="{{ routes.root_url }}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
				<img
				class="img-fluid navbar-logo-default"
				src="{{ settings.logo | image_url: height: 160 }}" 
				alt="{{ shop.name }}"
				width="{{ 80 | times: settings.logo.aspect_ratio | round }}" 
				height="80" loading="lazy">
      </a>
    </div>
  </header>
  <nav class="py-0 mb-1 navbar bg-gradient bg-dark text-light">
    <div class="container d-flex flex-wrap">
{% render 'navbar-desktop-menu' %}
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </nav>

{% schema %}
{
  "name": "Navbar",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_height",
          "label": "Logo height",
          "min": 20,
          "max": 100,
          "step": 2,
          "default": 100
        },
        {
          "type": "link_list",
          "id": "main_menu",
          "label": "Main menu",
          "default": "main-menu"
        }
      ],
      "blocks": [
        {
          "type": "@app"
        }
      ]
}
{% endschema %}